<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
        
          <ion-card-header>
            <img src="https://direct.rhapsody.com/imageserver/images/alb.364681251/500x500.jpg" />
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-button routerLink="https://open.spotify.com/playlist/0iI9SssQEH0dw2PCUI3HfF?si=x1Il1vncTsKbV5QvYsR17A" expand="block">Spotify </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
        
          <ion-card-header>
            <img src="https://i.scdn.co/image/ab67706f00000003b9d8e9faa10f798323c5d117" />
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-button routerLink="https://open.spotify.com/playlist/37i9dQZF1DWZjqjZMudx9T?si=_PP9-Ct7TNueJJthsHluOg" expand="block">Spotify </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
        
          <ion-card-header>
            <img src="https://i.scdn.co/image/ab67706f000000038dda1124fc41553b445312c1" />
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-button routerLink="https://open.spotify.com/playlist/0FfcxKXQuJoMnqYGW0qn7s?si=2C_fjgiLRGOGEbhy_PdwOQ" expand="block">Spotify </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
        
          <ion-card-header>
            <img src="https://i.pinimg.com/236x/5a/1b/da/5a1bdaaa8f7454df3d661dcd16783bf5.jpg" />
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-button routerLink="https://open.spotify.com/playlist/37i9dQZF1DX0MqBmOXvo6b?si=205b40e3a9924c15" expand="block">Spotify </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
   
  </ion-grid>
</ion-content>
